/*Cajas seccion inicio*/

.caja1 {
    width: 80%;
    display: flex;
}

.caja1>div {
    box-shadow: 0 0 10px 0 rgba(38, 39, 41, .2);
    font-family: Rubik, sans-serif;
    text-align: center;
    width: 230px;
    margin: 10px;
}

.caja1>div>img {
    margin-top: 10px;
}

.pequeño {
    width: 120px !important;
}

.caja1>div>p {
    line-height: 10%;
    color: gray;
}

@media (max-width:1028px) {
    .caja1 {
        display: none;
    }
}


/*Cajas seccion inicio*/